# BASE DE DATOS
DB_USER=postgres #nombre de usuario para la base de datos
DB_PASSWORD=admin123 #contraseña para la base de datos
DB_HOST=localhost #dirección del host de la base de datos
DB_PORT=5432 #puerto de la base de datos
DB_NAME=spatial_data #nombre de la base de datos

# CLIENTE DE POSTGRES (PGADMIN)
PGADMIN_EMAIL=ejemplo@ejemplo.com #correo electrónico para el cliente de postgres
PGADMIN_PASSWORD=admin123 #contraseña para el cliente de postgres